Weave/WeaveConsole/obj/project.assets.json
Weave/WeaveConsole/obj/WeaveConsole.csproj.nuget.g.targets
Weave/WeaveConsole/obj/WeaveConsole.csproj.nuget.g.props
Weave/WeaveConsole/obj/WeaveConsole.csproj.nuget.dgspec.json
Weave/WeaveConsole/obj/WeaveConsole.csproj.nuget.cache
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.pdb
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.exe
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.dll
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.csprojAssemblyReference.cache
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.csproj.FileListAbsolute.txt
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.csproj.CopyComplete
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.assets.cache
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.AssemblyInfoInputs.cache
Weave/WeaveConsole/obj/Debug/netcoreapp3.0/WeaveConsole.AssemblyInfo.cs
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/WeaveConsole.runtimeconfig.json
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/WeaveConsole.runtimeconfig.dev.json
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/WeaveConsole.pdb
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/WeaveConsole.exe
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/WeaveConsole.dll
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/WeaveConsole.deps.json
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/Weave.pdb
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/Weave.dll
Weave/WeaveConsole/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
Weave/Weave/obj/project.assets.json
Weave/Weave/obj/Weave.csproj.nuget.g.targets
Weave/Weave/obj/Weave.csproj.nuget.g.props
Weave/Weave/obj/Weave.csproj.nuget.dgspec.json
Weave/Weave/obj/Weave.csproj.nuget.cache
Weave/Weave/obj/Debug/netcoreapp3.0/Weave.pdb
Weave/Weave/obj/Debug/netcoreapp3.0/Weave.dll
Weave/Weave/obj/Debug/netcoreapp3.0/Weave.csprojAssemblyReference.cache
Weave/Weave/obj/Debug/netcoreapp3.0/Weave.csproj.FileListAbsolute.txt
Weave/Weave/obj/Debug/netcoreapp3.0/Weave.assets.cache
Weave/Weave/obj/Debug/netcoreapp3.0/Weave.AssemblyInfoInputs.cache
Weave/Weave/obj/Debug/netcoreapp3.0/Weave.AssemblyInfo.cs
Weave/Weave/bin/Debug/netcoreapp3.0/Weave.pdb
Weave/Weave/bin/Debug/netcoreapp3.0/Weave.dll
Weave/Weave/bin/Debug/netcoreapp3.0/Weave.deps.json
Weave/.vs/Weave/v16/Server/sqlite3/storage.ide-wal
Weave/.vs/Weave/v16/Server/sqlite3/storage.ide-shm
Weave/.vs/Weave/v16/Server/sqlite3/storage.ide
Weave/.vs/Weave/v16/Server/sqlite3/db.lock
Weave/.vs/Weave/v16/.suo
Weave/.vs/Weave/DesignTimeBuild/.dtbcache
